#creation-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 144px;
    padding-right: 144px;
    height: 100px;
    font-family: $Alta;
    text-transform: uppercase;
    font-size: 32px;
}

#see-all{
    width: fit-content;
    height: fit-content;
    justify-self: flex-end;
}

#creation-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

#cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));   
    grid-auto-rows: auto;
    gap: 20px;
    padding-left: 144px;
    padding-right: 144px;
}


.card{
    position: relative;
    text-align: center;
    color: white;
    width: 100%;

    &:hover{
        cursor: pointer;
        opacity: 0.5;
    }
}

#see-all{
    background: transparent;
    border: 1px solid $Black;
    font-family: $Alta;  
    text-transform: uppercase;  
    padding: 5px 30px 5px 30px;

    &:hover{
        cursor: pointer;
        background: $Black;
        color: $white;
    }
}

#button-two{
    display: none;
}

.card-text{
    position: absolute;
    bottom: 8px;
    left:16px;
    font-family: $Alta;
    text-transform: uppercase;
    font-size: 28px;
    text-align: left;

}

.card-image{
    height: 100%;
    width: 100%;
}


@media (max-device-width: 820px){
    #cards-container{
        grid-auto-rows:max-content;
        
    }

}

@media (max-device-width: 650px){
        #see-all{
        display: none;
    }

    #button-two{
        background: transparent;
        border: 1px solid $Black;
        font-family: $Alta;  
        text-transform: uppercase;  
        padding: 10px 50px 10px 50px;
        display: block;
        width:fit-content;
    
        &:hover{
            cursor: pointer;
            background: $Black;
            color: $white;
        }
    }

    #mobile-button{
        display: flex;
        justify-content: center;
    }

    #creation-header{
        justify-content: center;
        align-items: center;
    }
}

@media (max-device-width: 470px){
    #cards-container{
        padding: 0;
        transition: all 2s;
    }
}
